* {
  margin: 0;
  padding: 0;
}


/****** Header ***********/
header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 61.09px;
  height: 19px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 68px;
}

.menu a:hover {
  color: #0065FC;
}

.menu a:hover:before {
  content: "";
  background-color: #0065FC;
  height: 2px;
  width: 130px;
  position: absolute;
  top: -15px;
  right: 50%;
  transform: translate(50%, 0px);

}

.menu a {
  position: relative;
}

/****** Search Bar ***********/

.info-group {
  margin-top: 63px;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.search-bar {
  display: flex;
  height: 49px;
  margin-bottom: 30px;
  margin-top: 30px;
}


.vector {
  background: #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vector i {
  color: black;
}

input {
  font-weight: bold;
  padding: 0px 24px;
  border: solid 2px #F2F2F2;
  width: 15%;
  font-weight: bold;
}

input::placeholder {
  color: black;

}

.button {
  background: #0065FC;
  border-radius: 0px 15px 15px 0px;
  color: #FFFF;
  font-weight: bold;
  border-width: 0;
  width: 10%;

}

.button i {
  display: none;
}

/****** Filter ***********/

.filter p {
  font-weight: 700;
}

.filter {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.list-filter {
  display: flex;
  gap: 15px;
}

.filtre-items {
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 3px #F2F2F2;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 700;
}

.filtre-items:hover {
  background-color: #DEEBFF;
}

/****** Info ***********/

.info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.info i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #F2F2F2;
  border-radius: 42px;
  width: 24px;
  height: 24px;
  font-size: 12px;

}

/****** Hébergement à Marseille ***********/



.card-marseille {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  padding: 5px;

}

.img-box {
  height: 124px;
  overflow: hidden;
}

.card-marseille img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  object-fit: cover;
  height: 100%;


}

.card-text {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}


.hebergements-marseille-description {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 10px;
  gap: 8px;
}

.fa-xs {
  font-size: 14px;
}

/****** General ***********/


* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 50px;
  padding-bottom: 0px;
  margin: auto;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  gap: 40px;

}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.hebergements-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 27px;
  margin-bottom: 56px;
}

.afficher-plus {
  font-weight: 700;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}


/****** Activités ***********/

.activites-Marseille {
  padding: 0px 30px 0px 30px;
}

.activites-title {
  margin-bottom: 55px;
  margin-top: 55px;
}

.all-activites-card {
  display: flex;
  flex-direction: row;
  gap: 43px;
  margin-bottom: 40px;
}

.activites-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.description {
  display: flex;
  padding: 0px 19px 20px 19px;
}

.description h3 {
  font-size: 16px;
}

.img-activites-card {
  height: 390px;
}

.img-activites-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -20px;
  border-radius: 20px 20px 0px 0px;
}

/****** Footer ***********/

.footer {
  display: flex;
  gap: 20px;
  background-color: #F2F2F2;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.footer-title {
  font-weight: 700;
  font-size: 18px;
}

.footer-content li {
  list-style: none;
}

.footer-content ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }


  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }



  .description {
    display: flex;
    align-items: center;

  }

  .description h3 {
    font-size: 18px;
  }

  .img-activites-card {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0px -25px 30px -25px;
  }

  body {
    padding: 15px 25px;
  }

  .menu {
    width: 100%;
    gap: initial;
  }

  .menu a {
    display: flex;
    width: 50%;
    justify-content: center;
    border-bottom: solid 3px #F2F2F2;
    padding-bottom: 15px;
  }

  .menu a:hover {
    display: flex;
    justify-content: center;
    border-bottom: solid 3px #0065FC;
    position: initial;
  }

  .info-group {
    margin-top: initial;
  }

  .button span {
    display: none;
  }

  .button i {
    display: block;
  }

  .button {
    border-radius: 15px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    right: 0;
  }

  .vector {
    min-width: 50px;
  }

  .search-bar {
    position: relative;
  }

  input {
    width: 100%;
    border-right: none;
    padding: 0px 60px 0px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .filter {
    flex-direction: column;
    align-items: initial;
  }

  .list-filter {
    display: flex;
    align-self: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .list-filter a {
    flex: 1;
    white-space: nowrap;
  }

  .hebergements-and-populaires .hebergements {
    background-color: initial;
    width: 100%;
    order: 2;
  }

  .hebergements-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card-marseille {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .hebergements-and-populaires .populaires {
    width: 100%;
    order: 1;
    border-radius: initial;
    margin: 0 -25px;
    width: calc(100% + 50px);
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
  }


  .populaires-cards a {
    width: 100%;
  }

  .activites-Marseille {
    width: 100%;
  }

  .all-activites-card {
    width: 100%;
    flex-direction: column;
  }

  .activites-card {
    width: 90%;
    height: 170px;
  }

  .img-activites-card {
    height: 134px;
  }



}